<h1>Chez Monde</h1>

<div id="map"></div>
  <script>
  var map;
  // var image = 'http://www.turcuisine.com/images/fork.svg';

  function plotMarkers(m)
  {
    markers = [];
    bounds = new google.maps.LatLngBounds();
    m.forEach(function (marker) {
      var position = new google.maps.LatLng(marker.latitude, marker.longitude);

      markers.push(
        new google.maps.Marker({
          position: position,
          map: map,
          animation: google.maps.Animation.DROP,
        })
      );

      bounds.extend(position);
    });

    map.fitBounds(bounds);
  }

  function initMap() {
    fetch("/api/v1/markers/",
      { credentials: "include"})
      .then((response) => {
        let restaurants = response.json();
        return restaurants;
      })
      .then(plotMarkers);

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: 0.865427, lng: 0.196123},
        mapTypeId: 'satellite'
      });

      var markers;
      var bounds;



      //  var faviken = new google.maps.Marker({
      //    position: {lat: 63.4353, lng: 13.2932},
      //    map: map,
      //    icon: image
      //  });
    }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXI9xAei5zfhdUNVSEb31tSVV5s5_fw&libraries=visualization&callback=initMap">
    </script>

    <br>
    <br>
    <br>
    <br>

    <table className="one">
      <thead>
        <tr>
           <th>2016 Restaurants </th>
        </tr>
      </thead>
      <tbody>
          <% @restaurants2016.each_with_index do |restaurant, index| %>
          <tr>
            <td><%= index + 1 %>. <%= restaurant.name %>, Lat/Long: <%= restaurant.latitude %>, <%= restaurant.longitude %></td>
          </tr>
          <% end %>
      </tbody>
    </table>

    <table className="two">
      <thead>
        <tr>
           <th>2017 Restaurants </th>
        </tr>
      </thead>
      <tbody>
          <% @restaurants2017.each_with_index do |restaurant, index| %>
          <tr>
            <td><%= index + 1 %>. <%= restaurant.name %>, Lat/Long: <%= restaurant.latitude %>, <%= restaurant.longitude %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
