<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div id="logo">
      <img src=<%= image_url("logos/Chez_Monde_03-02.png") %> />
    </div>
  </div>
</div>

<div style="height:800px;background-color: #303b4c;">
<br>
<br>
<h2>A Map of The World's</h2>
<h2> 50 Best Restaurants</h2>
<br>
<br>
<h3 id="range">2017</h3>
<div class="slider">
  <span>2015</span>
  <input type="range" min="2015" max="2017" value="2017" step="1" onchange="showValue(this.value)" />
  <span>2017</span>
  <script type="text/javascript">

  function showValue(newValue)
  {
  	document.getElementById("range").innerHTML=newValue;
  }
  </script>
</div>

<br>

  <div id="map"></div>
    <script>
    var map;

    function plotMarkers(m)
    {
      var rank = 0
      markers = [];
      bounds = new google.maps.LatLngBounds();
      m.forEach(function (marker) {
        rank += 1;
        var position = new google.maps.LatLng(marker.latitude, marker.longitude);
        console.log(rank);
        var icon = '<%= image_path `app/assets/Gradient-Pins-v1/Marker_${rank}.png` %>';
        console.log(icon);

        markers.push(
          new google.maps.Marker({
            position: position,
            map: map,
            title: marker.name,
            animation: google.maps.Animation.DROP,
            address: marker.address,
            chef: marker.chef,
            rank: rank,
            icon: icon,
            city: marker.city,
            country: marker.country
          })

        );
        bounds.extend(position);
      });
      infowindows(markers);
      map.fitBounds(bounds);
    }
    function infowindows(m) {

      m.forEach((marker) => {

        var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h3>' + `${marker.title}` + '</h3>'+
                '<div id="bodyContent">'+
                '<p>Chef(s):' + ` ${marker.chef}` + '</p>'+
                `<p>Rank: ` + `${marker.rank}` + '</p>'+
                '<p>Address: ' + `${marker.address}` + '</p>' + '<p>City/Country: ' + `${marker.city}` + `, ${marker.country}` + '</p>'+
                '</div>'+
                '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })


    };

    function initMap() {
      fetch("/api/v1/markers/",
        { credentials: "include"})
        .then((response) => {
          let restaurants = response.json();
          return restaurants;

        })
        .then(plotMarkers);

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 0.865427, lng: 0.196123},
          mapTypeId: 'satellite'
        });

        var markers;
        var bounds;
        var infowindow;

      }

      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXI9xAei5zfhdUNVSEb31tSVV5s5_fw&libraries=visualization&callback=initMap">
      </script>

      <!-- <script>
        $(document).ready(function(){
          $("#slider").slider({
              min: 2014,
              max: 2017,
              step: 1,
              range: false,
              slide: function(event, ui) {
                  $("#someotherElement").removeClass().addClass('step_'+ui.value); //adds class step_1 -> step_10 etc
              }
          });​
        });
      </script> -->

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="http://www.theworlds50best.com/"><img id="fifty" src=<%= image_url("logo-worlds50best.png") %> /></a>
<br>
<a href="https://github.com/JonathanBraun/chez-monde"><img id="fifty" src=<%= image_url("github-10-xxl.png") %> /></a>
<br>



    <!-- <br>
    <br>
    <br>
    <br>
    <div>
      <div class="parallax__footer">
        <table className="one">
          <thead>
            <tr>
               <th>2016 Restaurants </th>
            </tr>
          </thead>
          <tbody>
              <% @restaurants2016.each_with_index do |restaurant, index| %>
              <tr>
                <td><%= index + 1 %>. <%= restaurant.name %></td>

              </tr>
              <% end %>
          </tbody>
        </table>

        <table className="two">
          <thead>
            <tr>
               <th>2017 Restaurants </th>
            </tr>
          </thead>
          <tbody>
              <% @restaurants2017.each_with_index do |restaurant, index| %>
              <tr>

                <td><%= index + 1 %>. <%= restaurant.name %></td>

              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div> -->
